* {
/* The box-sizing property is used to tell the browser what the sizing 
properties (width and height) should include. */
  box-sizing:border-box; 
  text-align: center;
}

body {
  margin:0px;
}

#wrapper {
  /* sticky footer using the calc() function */
  min-height: calc(100vh - 91px);
}

header {
  background-color: #FFF;
  padding:0px 0px 20px 20px;
  margin-bottom: 40px;
  color:#888;
  border-bottom: 2px solid #ccc;
  height:70px;
}

section {
  padding:20px;
  margin-bottom: 40px;
}

/*
#left {
  background-color: #efeee7;
  color: #888;
  width: 40%;
  float: left;
}

#right {
  background-color: #ccc;
  color: #888;
  width: 25%;
  float: left;
}
*/

#full {
  background-color: #ccc;
  clear: both;
  overflow: auto;
  width: 88%;
  position: absolute;
  left: 100px;
  padding:20px;
  margin-bottom: 10px;
  min-height: 300px;
}

aside {
	background-color:white;
  padding: 50px;
  color:#888;
  border: 1px solid #777;
  min-height:300px;
  margin-right: 20px;
}

article {
  background-color:white;
  padding:50px;
  color:#888;
  width:60%;
  float:left;
  border: 1px solid #777;
  min-height:300px;
}

footer {
  background-color: #666;
  padding:30px;
  color:#ccc;
  font-size:12px;
  border-top: thick solid #4aaaa5;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	
}

#middleSection {
  padding:40px;
  color:#888;
}

#logo {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 24px;
  font-weight: bold;
  float:left;
  padding: 20px 10px 21px 14px;
  background-color: #4aaaa5;
  color:#FFF;
  margin:0px;
  position: absolute;
  left: 100px;
}

nav {
  float:right;
  margin-right: 150px;
  margin-top: 0px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size:15px;
  padding-top: 26px;
}

.button:hover {
  color:#4aaaa5;
}

a:link {
  text-decoration: none;
  color:#777;
}

a:visited {
  text-decoration: none;
  color:#777;
}

a:hover {
  text-decoration: none;
  color:#777;
}

a:active {
  text-decoration: none;
  color:#777;
}